version: "3.5"
services:
    ttf-taxnomomy-service:
        image: tti/ttf/taxonomyservice
        container_name: taxonomyservice
        volumes:
            - ../../artifacts:/app/artifacts
        environment:
            - gRpcHost=taxonomyservice
            - gRpcPort=8086
            - artifactPath=artifacts
        ports:
            - 8086:8086
    envoy:
        image: tti/ttf/envoy
        container_name: envoy
        ports:
            - "9080:9080"
        links:
            - "ttf-taxnomomy-service"